/* Reset elements */
body, main, nav, header, section, article, aside, footer, h1, h2, h3, p, img, ul, li {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
	color: #707070;
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 1.125rem;
	/* box-sizing: border-box; */
}

img { 
	max-width: 100%;
	display: block; 
}

/**** Typography ****/

h1 { font-size: 2rem; margin-top: 0; }

/* Header subtitle */
.subtitle { font-size: 1em; margin-top: 0; font-size: 1rem; }

h2, .article-title {
	font-size: 1.5rem;
	margin: 1em 0;
}

p {
	letter-spacing: .04rem;
	line-height: 21px;
	margin-top: .5em;
}

/**** Layout ****/

.container {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
}

.container-flex{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	text-align: center; 
	order: 1;
	background-color: #333;
	/* a more specific way to set a background color */
	background-image: url(images/headerbkgd.png);
	/* sets a background image in the header and the position it should sit */
	background-repeat: no-repeat;
	/* sets a background image to repeat, repeat-x, repeat-y or not at all as written in this rule */
	background-position: left bottom;
	/* sets a background image position */
	color: #fff;
	/* sets the the color of all header text to white */
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	/* these 6 lines of border-radius code make rounded corners for the bottom work in firefox, safari, chrome, opera and IE9 */
	margin-bottom: 2em;
	/* margin: 0 auto; */
	/* by declaring a width on any block element (like a div), giving it a css property of margin:0 auto will center that block element on page */
	
	/* min-height: 130px; */
	/* setting a minimum height of an element means that it can grow to be bigger, if there is a lot of content in it. However, if it doesn't have enough content, it will be at the very least (in this example) 130 pixels tall */
	
	padding: 2em 0;
	/* by setting a padding, the content within a HTML element will not touch the edges of that element (by adding padding to an element, it actually makes that element appear wider and/or taller.  In this case, the header div is now 15px wider and taller on each side. */

	/* width: 870px; */
	/* sets the width of the div to 930px. Remember that if you add padding to this element it will increase the size by the number of pixels in the padding. In this example the width is 900px and we have 15px to the left and right so the total width of the header will be (870px + 15px+15px=930px */
}


/**** Navigation ****/
nav {	
	margin-top: .75em;
	/*adds space between title and links*/
}

nav ul {
	list-style-type: none;
	/*removes bullet points*/
	padding: 0;
	display: flex;
	justify-content: center;
}
nav li {
	margin-left: 1em;
	min-width: 3rem;
	min-height: 3rem;
	padding: 0;
}

nav a {
	background: #4a4a4a;
	/* this is a dark grey background for the link */
	color: #fff;
	/* this makes the link text white */
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	/* these 3 lines of border-radius code make rounded corners work in firefox, safari, chrome, opera and IE9 */
	border: 1px solid #595959;
	/* this adds a light grey solid border of 1px width around the link */
	padding: 0.25em;
	/* as the name implies, this adds extra padding around the link, so that the borders don't bump up against the link text */
	text-decoration: none;
	/* this removes the normal underline that links usually have */
}

nav a:hover {
	background-color: #000;
}

.current-page {
	border-bottom: 2px solid #000;
	color: #fff;

}
.current-page:hover {
	background-color: #4a4a4a;
	/* default bkgd color hint to user of currently active page */
}

footer {
	order: 5;
	background: #c4d5d9;
	margin: 0 auto;
	padding: 3em 0;
	text-align: center;
}

/**** Larger devices *****/
@media screen and (min-width: 601px) {
	.container-flex {
		flex-direction: row;
	}
	main { width: 70%; }	
	aside { 
		width: 25%; 
		min-width: 200px; 
		margin-left: 1em;
	}
	.article-recent {
		flex-direction: row;
		justify-content: space-between;
	}
}


/**** Main - Articles *****/
.article-featured {
	border-bottom: #707070 1px solid;
	padding-bottom: 2em;
	margin-bottom: 2em;
}

.article-recent {
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
}

.article-image {
	width: 50%;
	min-height: 250px;
	object-fit: cover;
}

/**** Aside - Sidebar ****/
.sidebar-box {

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border: 1px solid grey;
	margin-bottom: 2em;
	padding: 1em;
}


/**** Aside Sidebar - links *****/
.list {	
	padding: .5em;
}
.list li {
	list-style-type: none;
	font-size: .5rem;
	margin-bottom: .5em;
}

.list a {
	color: #445e64;
}

.list a:hover {
	text-decoration: none;
}

/* when hovering over a link, in the sidebar, this turns off the underline */

.list li a {
	
	font-weight: light;
	/* this makes all anchor classes with .list bold without using <strong>  */
	text-transform: uppercase;
	/* this makes all anchor classes with .list uppercase  */
	font-size: 1rem;
	/* this makes all anchor classes with .list applied 11px tall  */
}


@media (luminosity: normal) {
	body {
		background-color: #ddd;
		color: #000;
	}
}

@media (luminosity: dim) {
	body {
		background-color: #444;
		color: #fff;
	}
}

@media (luminosity: washed) {
	body {
		background-color: #fff;
		color: #333;
	}
}

.clear {
	clear: both;
	/* this clears floats.  This would be used to cancel out a float's behavior on content below it.  */
}