/* Reset elements */
body, main, nav, header, section, article, aside, footer, h1, h2, h3, p, img, ul, li {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
	color: #707070;
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 1rem;
	/* 62.5% is 16px */
}

img { 
	max-width: 100%;
	display: block; 
}

/********* Typography *********/

h1 { 
	font-size: 2rem; 
	margin-top: 0; 
}
h2 {
	font-size: 1.5rem;
	margin: 1em 0;
}
h3 {
	font-size: 1.25rem;
	margin: 1em 0;
}
p {
	letter-spacing: .04rem;
	line-height: 21px;
	margin-top: .5em;
}
.subtitle { 
	font-size: 1rem; 
	margin-top: 0; 
}

/****** Layout *******/

.container {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
}
.container-flex {
	display: flex;
	/* flex-direction: row; */
	justify-content: space-between;
}

header {
	text-align: center; 
	background-color: #333;
	color: #fff;
	margin: 0 auto;
	min-height: 80px;
	padding: 2em 0;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	/* these 6 lines of border-radius code make rounded corners for the bottom work in firefox, safari, chrome, opera and IE9 */
	/* margin-bottom: 2em; */
	background-image: url(images/headerbkgd.png);
	background-repeat:no-repeat;
	background-position: bottom;
}

/********** Navigation **********/

nav {	
	margin-top: .5em;
	/*adds space between title and links*/
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
	padding: 0;
}
nav li {
	min-width: 2rem;
	min-height: 2rem;
	padding: 0;
	margin: 0 .5em;
}

nav a {
	background: #4a4a4a;
	color: #fff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #595959;
	padding: 0.25em;
	text-decoration: none;
}

nav a:hover,
nav a:focus {
	background-color: #000;
}

/* class current-page makes the nav link underlined
for the current page and look like it's not responsive 
when mouse hovers over */
.current-page {
	border-bottom: 2px solid #000;
	color: #fff;	
}
.current-page:hover,
.current-page:focus {
	background-color: #4a4a4a;
	/* default bkgd color is a hint to user of currently active page */
}

footer {
	background: #333;
	color: #fff;
	margin: 0 auto;
	padding: 3em 0;
	text-align: center;
	text-justify: auto;
}

/****** Main - Articles *****/

.article-featured {
	border-bottom: #707070 1px solid;
	padding-bottom: 2em;
	margin-bottom: 2em;
}

.article-recent {
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
}

.article-image {
	order: -1;
	width: 100%;
	min-height: 250px;
	object-fit: cover;
}

.article-recent-main {
	order: 3;
}

.article-recent-secondary {
	order: 1;
}

.article-title {
	order: 2;
}

/**** Aside - Sidebar ****/

.sidebar-box {
	border: 20px solid #efefef;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 2em;
	padding: 1em;
}

.sidebar-post {
	border: 1px solid grey;
	margin-bottom: 2em;
	padding: .5em;
}

/****** Aside - Sidebar links ******/

.list {	
	padding: .5em;
}
.list li {
	list-style-type: none;
	font-size: .5rem;
	margin-bottom: 1.5em;
}

.list a {
	color: #37707d;
}

.list a:hover {
	text-decoration: none;
}

.list li a {
	font-weight: bold;
	font-size: 1rem;
}

/* 
@media all and (luminosity: normal) {
	body {
		background-color: #ddd;
		color: #000;
	}
}

@media all and (luminosity: dim) {
	body {
		background-color: #444;
		color: #fff;
	}
}

@media all and (luminosity: washed) {
	body {
		background-color: #fff;
		color: #333;
	}
} */

/****** Mobile devices ******/

@media screen and (max-width: 675px) {
	.container-flex {
		flex-direction: column;
	}
	
	nav ul {
		flex-direction: column;
	}

	nav li {
		margin: .5em 0;
	}
}

/**** Larger devices *****/

@media screen and (min-width: 676px) {
	.container-flex {
		flex-direction: row;
	} 
	main { 
		width: 70%; 
	}	
	aside { 
		width: 25%; 
		min-width: 200px; 
		margin-left: 1em;
	}
	.article-recent {
		flex-direction: row;
		justify-content: space-between;
	}

	.article-recent-main {
		width: 68%
	}
	.article-recent-secondary {
		width: 30%
	}

}